<%= link_to "Add new post", new_post_path %>

<% Post.all.each do |post| %>
  <section class="post">
    <figure>
      <%= image_tag post.image.url(:medium) %>
      <figcaption><%= post.caption %></figcaption>
    </figure>
  </section>
<% end %>